@charset "utf-8";

/* reset CSS */
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
}
body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body.static {
	position: static;
}

/* common CSS */
.wrapper {
	position: relative;
}
/* location */
.location {
	min-width: 1100px;
	background-color: #660942;
}
.location .location_inner {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 40px;
	text-align: right;
}

/* logo */
.location .logo {
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 1000;
}

/* util */
.location .util li {
	display: inline-block;
	position: relative;
	margin-top: 10px;
}
.location .util li::after {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 2px;
	height: 10px;
	background-color: #fff;
}
.location .util li:last-child::after {
	display: none;
}
.location .util li:nth-child(3)::after {
	display: none;
}
.location .util li a {
	display: block;
	padding: 0 10px;
	font-size: 0.875em;
	color: #fff;
}
.location .util li a.mp {
	width: 65px;
	height: 22px;
	font-weight: 700;
	color: #fff;
	background: url(../images/myecc_bg.png) no-repeat 13px 0;
}

/* upper */
.upper {
	position: relative;
	min-width: 1100px;
	height: 68px;
	background-color: #fff;
}
.upper::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 400;
	width: 100%;
	height: 1px;
	background-color: #99999b;
	box-sizing: border-box;
}
/* GNB */
#GNB {
	position: relative;
}
#GNB .GNB_inner {
	margin: 0 auto;
	width: 1100px;
	text-align: center;
}
#GNB > .GNB_inner > ul {
	position: absolute;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 68px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.7);
	transition: height 0.3s;
}
#GNB > .GNB_inner > ul.over {
	height: 250px;
}
#GNB > .GNB_inner > ul > li {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#GNB > .GNB_inner > ul > li > a::after {
	content: "";
	display: block;
	position: absolute;
	left: 26px;
	bottom: 0;
	z-index: 500;
	width: 0;
	height: 5px;
	background-color: #660942;
	transition: width 0.2s;
}
#GNB > .GNB_inner > ul > li:hover > a::after,
#GNB > .GNB_inner > ul > li > a.over::after {
	width: 60%;
}
#GNB > .GNB_inner > ul > li:hover > a,
#GNB > .GNB_inner > ul > li > a.over {
	color: #660942;
}
#GNB > .GNB_inner > ul > li > a {
	display: block;
	padding: 0 40px;
	line-height: 68px;
	font-weight: 700;
}
#GNB .sub {
	position: absolute;
	left: -50%;
	width: 130%;
	height: 300px;
	margin-left: 35%;
}
#GNB .sub li a {
	display: block;
	padding: 0 20px;
	line-height: 35px;
	font-size: 0.875em;
	color: #000;
	transition: color 0.2s;
}
#GNB .sub li a:hover,
#GNB .sub li a:focus{
	color: #e1429f;
}

/* util */
#GNB .GNB_inner .sub_logo  {
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 1050;
}

/* keyvisual */
.keyvisual {
	position: relative;
	width: 100%;
	height: 480px;
	min-width: 1100px;
	overflow: hidden;
}
.keyimage li {
	position: absolute;
	width: 100%;
	height: 480px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}
.keyimage li.on {
	opacity: 1;
}
.keyimage li img {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -960px;
	width: 1920px;
	height: 480px;
}
/* controlls */
.keyvisual .controlls {
	position: absolute;
	left: 0;
	bottom: 100px;
	z-index: 1000;
	width: 100%;
	height: 14px;
	text-align: center;
}
.keyvisual .controlls li {
	display: inline-block;
	margin: 0 3px;
}
.keyvisual .controlls li a {
	display: block;
	width: 14px;
	height: 14px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 7px;
}
.keyvisual .controlls li.active a {
	background-color: #660942;
}

/* section */
.main_cont_wrap {
	position: relative;
	min-width: 1100px;
	height: 510px;
}
.main_cont_wrap .main_cont {
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -550px;
	width: 1100px;
	height: 510px;
}
/* main top */
.main_cont_wrap .main_top .main_camedia {
	position: relative;
	float: left;
	width: 183px;
	height: 200px;
	border: 2px solid #ffe7e5;
	background-color: #fff;
	box-sizing: border-box;
}
.main_cont_wrap .main_top .main_camedia::after {
	content: "";
	display: block;
	position: absolute;
	right: -17px;
	top: 50px;
	z-index: 100;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 18px solid #fff;
}
.main_cont_wrap .main_top .main_camedia p {
	margin-left: 20px;
	margin-top: 20px;
}
.main_cont_wrap .main_top .main_camedia p.title {
	font-size: 22px;
	font-weight: 700;
}
.main_cont_wrap .main_top .main_camedia p.content {
	font-size: 0.875em;
}
.main_cont_wrap .main_top .main_camedia .button {
	margin-left: 20px;
	margin-top: 20px;
}
input[type=button]{
	display: block;
	width: 100px;
	height: 30px;
	font-size: 12px;
	color: #fff;
	border: none;
	background-color: #660942;
	/* border-radius: 10px; */
}
.main_cont_wrap .main_top .campus {
	position: relative;
	float: left;
	width: 643px;
	height: 200px;
	background-color: #ffe7e5;
}
.main_cont_wrap .main_top .campus_wrap .campus_wrap_moving ul {
	margin-left: 10px;
	margin-top: 5px;
}
.main_cont_wrap .main_top .campus_wrap .campus_wrap_moving li {
	float: left;
	width: 180px;
	margin: 10px 10px 0 10px;
	text-align: center;
}
.main_cont_wrap .main_top .campus_wrap .campus_wrap_moving li p {
	margin-top: 10px;
}
.main_cont_wrap .main_top .campus_wrap .campus_wrap_moving li p span {
	font-size: 14px;
}
.main_cont_wrap .main_top .campus_wrap .campus_wrap_moving li p span.title {
	color: #666;
}
.main_cont_wrap .main_top .main_campus {
	float: left;
	width: 274px;
	height: 200px;
	background-color: #fff;
}
.main_cont_wrap .main_top .main_campus .main_campus_top p {
	margin-top: 20px;
}
.main_cont_wrap .main_top .main_campus .main_campus_top p.title {
	display: inline-block;
	margin-left: 20px;
	font-size: 1.250em;
	font-weight: 700;
}
.main_cont_wrap .main_top .main_campus .main_campus_top a.more {
	display: inline-block;
	margin-left: 80px;
	font-size: 0.875em;
	color: #8b898a;
}
.campus_find {
	margin-top: 20px;
}
.campus_find .area dl {
	position: relative;
}
.campus_find .area dl dt a {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 220px;
	height: 30px;
	padding: 5px 0 5px 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	background-color: #ffe7e5;
}
.campus_find .area dl dt a span {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 7px;
	height: 4px;
	background: url(../images/arrow1.png) no-repeat 0 0;
}
.campus_find .area dl dt a.active span {
	background-position: -7px 0;
}
.campus_find .area dl dd {
	display: none;
	position: absolute;
	left: 9%;
	top: 40px;
	z-index: 1000;
	width: 220px;
	height: 80px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #ffe7e5;
}
.campus_find .area dl dd a {
	display: block;
	font-size: 14px;
	padding: 5px 10px;
}
.campus_find .area dl dd li a:hover {
	background-color: #eaeaea;
}
.campus_find .store dl {
	margin-top: 10px;
	position: relative;
}
.campus_find .store dl dt a {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 220px;
	height: 30px;
	padding: 5px 0 5px 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	background-color: #660942;
	color: #fff;
}
.campus_find .store dl dt a span {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 7px;
	height: 4px;
	background: url(../images/arrow2.png) no-repeat 0 0;
}
.campus_find .store dl dt a.active span {
	background-position: -7px 0;
}
.campus_find .store dl dd {
	display: none;
	position: absolute;
	left: 10%;
	top: 40px;
	z-index: 1000;
	width: 220px;
	height: 80px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #660942;
}
.campus_find .store dl dd a {
	display: block;
	font-size: 14px;
	padding: 5px 5px;
}
.campus_find .store dl dd li a:hover {
	background-color: #eaeaea;
}
/* main bottom */
.main_bottom .main_video {
	float: left;
	position: relative;
}
.main_video .control {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;
	margin-left: -25px;
	margin-top: -25px;
	text-indent: -9999px;
	overflow: hidden;
	width: 45px;
	height: 50px;
	background: url(../images/play_btn.png) no-repeat 0 0;
}
#my_video {
	display: block;
	width: 550px;
	height: auto;
}
.main_cont_wrap .main_bottom .main_notice {
	float: left;
	width: 276px;
	height: 310px;
	background-color: #efefef;
}
.main_cont_wrap .main_bottom .main_tab {
	margin-top: 25px;
	text-align: center;
}
.main_cont_wrap .main_bottom .main_tab li {
	display: inline-block;
	position: relative;
}
.main_cont_wrap .main_bottom .main_tab li::after {
	content: "";
	display: block;
	position: absolute;
	right: -5px;
	top: 2px;
	width: 1px;
	height: 13px;
	background-color: #ccc;
}
.main_cont_wrap .main_bottom .main_tab li:last-child::after {
	display: none;
}
.main_cont_wrap .main_bottom .main_tab li a {
	display: block;
	padding: 0 10px;
	line-height: 16px;
	font-size: 1.250em;
	color: #878787;
}
.main_cont_wrap .main_bottom .main_tab li a.on {
	color: #660942;
	font-weight: 700;
}
.main_cont_wrap .main_bottom .main_panel {
	position: relative;
	margin-top: 15px;
	margin-left: 20px;
	width: 220px;
}
.main_cont_wrap .main_bottom .main_panel > div {
	display: none;
	margin-left: 5px;
}
.main_cont_wrap .main_bottom .main_panel > div.active {
	display: block;
}
/* .main_cont_wrap .main_bottom .main_panel .media {
	display: none;
} */
.main_cont_wrap .main_bottom .main_panel .media li a {
	display: block;
	width: 220px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 35px;
	font-size: 0.875em;
	transition: all 0.3s;
}
.main_cont_wrap .main_bottom .main_panel .media li:hover a {
	text-decoration: underline;
	font-weight: 700;
}
.main_cont_wrap .main_bottom .main_panel .event {
	display: none;
}
.main_cont_wrap .main_bottom .main_panel .event_wrap {
	display: block;
	width: 220px;
	height: 230px;
	background-color: #fff;
	border: 2px solid #ffe7e5;
}
.main_cont_wrap .main_bottom .main_panel .event_wrap .image {
	margin-left: 45px;
	padding-top: 10px;
}
.main_cont_wrap .main_bottom .main_panel .event_wrap p {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 12px;
	color: #660942;
}
.main_cont_wrap .main_bottom .main_panel .event_wrap p span {
	display: block;
	margin-top: 5px;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	font-weight: 700;
}
.main_cont_wrap .main_bottom .sns {
	float: left;
	width: 274px;
	height: 310px;
	border: 2px solid #efefef;
	border-left: none;
	background-color: #fff;
	box-sizing: border-box;
}
.main_cont_wrap .main_bottom .sns h4 {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
}
.main_cont_wrap .main_bottom .sns .more {
	display: inline-block;
	margin-left: 80px;
}
.main_cont_wrap .main_bottom .sns .more a {
	font-size: 0.875em;
	color: #8b898a;
}
.main_cont_wrap .main_bottom .sns .image {
	margin-top: 10px;
	padding-left: 15px;
}
/* rel site */
.rel_site {
	height: 64px;
	margin-top: 80px;
	min-width: 1100px;
	border-top: 1px solid #e9e9e9;
}
.rel_site .rel_site_inner {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 64px;
}
.rel_site .rel_site_inner .site_wrapper {
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 64px;
	overflow: hidden;
}
.rel_site .rel_site_inner .site_wrapper ul {
	position: absolute;
	width: 1800px;
	height: 64px;
}
.rel_site .rel_site_inner .site_wrapper li {
	position: relative;
	padding: 0 10px;
	float: left;
	width: 180px;
	height: 64px;
	box-sizing: border-box;
}
.rel_site .rel_site_inner .site_wrapper li a {
	display: block;
	height: 64px;
	line-height: 64px;
	text-align: center;
}
.rel_site .rel_site_inner .site_wrapper li a img {
	vertical-align: middle;
}
.rel_site .rel_site_inner .direction a {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	width: 9px;
	height: 16px;
}
.rel_site .rel_site_inner .direction a.prev {
	left: 0;
}
.rel_site .rel_site_inner .direction a.next {
	right: 0;
}

/* footer_menu */
.footer_menu {
	width: 100%;
	height: 45px;
	min-width: 1100px;
	background-color: #fafafa;
	border-top: 1px solid #e9e9e9;
}
.footer_menu .footer_menu_inner {
	margin: 0 auto;
	width: 1100px;
	height: 45px;
}
.footer_menu .banner_moving {
	margin-left: 10px;
}
.footer_menu .banner_moving li {
	display: inline-block;
	position: relative;
}
.footer_menu .banner_moving li::after {
	content: "";
	display: block;
	position: absolute;
	right: -3px;
	top: 17px;
	width: 1px;
	height: 12px;
	background-color: #ccc;
}
.footer_menu .banner_moving li:last-child::after {
	display: none;
}
.footer_menu .banner_moving li a {
	display: block;
	padding: 0 5px;
	line-height: 45px;
	font-size: 0.875em;
}

/* footer info */
.footer_info {
	width: 100%;
	height: 181px;
	min-width: 1100px;
	background-color: #fafafa;
	border-top: 1px solid #e9e9e9;
}
.footer_info .footer_info_inner {
	margin: 0 auto;
	width: 1100px;
	height: 181px;
}
.footer_info .footer_logo {
	float: left;
	margin-top: 60px;
	margin-left: 10px;
}
.footer_info address {
	float: left;
	margin-top: 45px;
	margin-left: 30px;
	line-height: 30px;
	font-size: 0.875em;
	font-style: normal;
}
.footer_info address a {
	font-weight: 700;
}
/* popup */
.popup {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;
	width: 300px;
	height: 400px;
	margin-left: -150px;
	margin-top: -180px;
}
.popup .image {
	height: 360px;
}
.popup .text {
	width: 300px;
	height: 40px;
	text-align: center;
	background-color: #fff;
}
.popup .text form {
	float: left;
	width: 50%;
	height: 40px;
}
input#check {
	vertical-align: middle;
}
input[type=checkbox],
.popup .text form span {
	cursor: pointer;
}
.popup .text .right {
	float: left;
	width: 50%;
	height: 40px;
}
.popup .text form span,
.popup .text .right a {
	font-size: 12px;
	color: #333;
	line-height: 40px;
}
.dim {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
}
